@charset "UTF-8";
/*PC用→*/


.textBox {
  width: 960px;
  margin: 0 auto;
}


/*→PC用*/



@media all and (max-width: 480px) {
/*スマホ用→*/


  .textBox {
    width: 100%;  
}


/*→スマホ用*/
}

body {
word-wrap: break-word;
white-space: pre-wrap;
overflow-wrap: break-word;
}
