@charset "UTF-8";
/*PC-SP共通→*/

a {
font-weight: bold;
text-decoration: none;
}

a:link { color: #FFFFFF; }

a:visited { color: #FFFFFF; }

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a:active { color: #FFFFFF; }

.resize img { width: 100%; }

.tar {
  color: #991c30;
  font-size: 2.6rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.ar { color:#991c30; }



/*→PC-SP共通*/



/*PC用→*/
@media (min-width: 800px) {

.textBox {
  width: 100%;
  margin: 0 auto;
}






}
/*→PC用*/



/*スマホ用→*/
@media all and (max-width: 799px) {

.textBox {
  width: 100%;  
}





}
/*→スマホ用*/
