@charset "UTF-8";
/*PC-SP共通→*/

body {
  background-color: #f3f3ee;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:link {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}

a:visited {
 color: #ffffff; 
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.tar {
  color: #991c30;
  font-size: 2.6rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.ar { color: #991c30; }

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border: 2px solid black;
  border-spacing: 2px;
}
th {
  border-collapse: separate;
  border: 1px solid black;
  padding: 3px 10px;
}
td {
  border-collapse: separate;
  border: 1px solid black;
  padding: 3px 10px;
}


/*→PC-SP共通*/



/*PC用→*/
@media (min-width: 800px) {

.textBox {
  width: 100%;
  margin: 0 auto;
}

.resize img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



}
/*→PC用*/



/*スマホ用→*/
@media all and (max-width: 799px) {

.textBox {
  width: 100%;  
}

.resize img {
  width: 100%;
  display: block;
}



}
/*→スマホ用*/
