@charset "UTF-8";
/*PC-SP共通→*/

a {
font-weight:bold;
text-decoration:none;
}
a:link {
color:#FFFFFF;
}
a:visited {
color:#FFFFFF;
}
a:hover {
color:#FFFFFF;
text-decoration:underline;
}
a:active {
color:#FFFFFF;
}

.resize img { width: 100%; }



/*→PC-SP共通*/

@media (min-width: 800px) {
/*PC用→*/

.textBox {
  width: 100%;
  margin: 0 auto;
}






/*→PC用*/
}

@media all and (max-width: 799px) {
/*スマホ用→*/


  .textBox {
    width: 100%;  
}


/*→スマホ用*/
}
